[submodule "frontend"]
	path = frontend
	url = https://github.com/poeticlama/multibank-frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/chomosuce/pBanking-backend.git
	branch = main
[submodule "classifier"]
	path = classifier
	url = https://github.com/chomosuce/pBanking-classifierService.git
	branch = main
