[submodule "frontend"]
	path = frontend
	url = https://github.com/poeticlama/multibank-frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/Igor0006/pBanking.git
	branch = main
