version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: frontend
    ports:
      - "5173:5173"                # порт Vite
    environment:
      - CHOKIDAR_USEPOLLING=true   # для hot reload в контейнере
    volumes:
      - ../multibank-frontend:/app            # чтобы изменения на хосте подтягивались
      - /app/node_modules          # исключаем node_modules хоста
    depends_on:
      - backend
    networks:
      - app-net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    environment:
      DB_URL: ${DB_URL:-db:5432/pbanking}
      DB_USERNAME: ${DB_USERNAME:-pbanking}
      DB_PASSWORD: ${DB_PASSWORD:-pbanking}
      SECRET_KEY: ${SECRET_KEY:-local-secret}
      TEAM_CODE: ${TEAM_CODE:-local-team-code}
      TEAM_SECRET: ${TEAM_SECRET:-local-team-secret}
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - app-net

  db:
    image: postgres:16-alpine
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-pbanking}
      POSTGRES_USER: ${POSTGRES_USER:-pbanking}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-pbanking}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - app-net

volumes:
  db-data:

networks:
  app-net:
    driver: bridge
